[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Drive Indicator
Exec=/usr/local/indicator-drive/indicator-drive.py
Comment=Simple indicator to synchronize Google Drive contents
Icon=google-drive
Hidden=false
NoDisplay=false
Terminal=false
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
